@import "node_modules/bulma/bulma.sass";

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#list {
  overflow: scroll;
  max-height: 80%;
}

#map {
  height: 30%;
}

#info {
  height: 70%;
}

img#terveystutkalogo {
  margin-top: 20px;
  width: 122px;
  height: 37px;
}

@media (min-width: 768px) {
  #map, #info {
    height: 100%;
  }

  img#terveystutkalogo {
    margin-top: 20px;
    width: 244px;
    height: 75px;
  }
}

.tauti-list {
  list-style-type: disc;
  padding-left: 20px;
}