@import "node_modules/bulma/bulma.sass";

html, body, #app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#list {
  overflow: scroll;
  max-height: 80%;
}

#map {
  height: 30%;
}

#info {
  height: 70%;
}

img#terveystutkalogo {
  margin-top: 20px;
  width: 122px;
  height: 37px;
}

@media (min-width: 768px) {
  #map, #info {
    height: 100%;
  }

  img#terveystutkalogo {
    margin-top: 20px;
    width: 244px;
    height: 75px;
  }
}

.tauti-list {
  list-style-type: disc;
  padding-left: 20px;
}

.tauti-list a {
  color: #fff;
}

.modal-content {
  background: #fff;
}

div#varoitus {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
  background: red;
  color: white;
  font-weight: bold;
  z-index: 9999999;
  text-align: center;
}
div#varoitus h3 {
  position: absolute;
  width: 100%;
  margin: 0;
  line-height: 20px;
  font-weight:bold;
  text-align: center;
  -moz-transform:translateX(110%);
  -webkit-transform:translateX(110%);
  transform:translateX(110%);
  -moz-animation: scroller 20s linear infinite;
  -webkit-animation: scroller 20s linear infinite;
  animation: scroller 20s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroller {
  0%   { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroller {
  0%   { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroller {
  0%   {
    -moz-transform: translateX(100%); /* Firefox bug fix */
    -webkit-transform: translateX(100%); /* Firefox bug fix */
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%); /* Firefox bug fix */
    -webkit-transform: translateX(-100%); /* Firefox bug fix */
    transform: translateX(-100%);
  }
}

/*
div#varoitus {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: red;
  color: white;
  font-weight: bold;
  z-index: 9999999;
  text-align: center;
}*/
